# Eggs
*.egg-info/
*.egg
eggs/
develop-eggs/

# Bytecode compilation
**/__pycache__/
*.py[cod]
*.pyc

# library caches
.mypy_cache
.pytest_cache

# library scratch
.coverage
zdevelop/tests/_reports/
zdevelop/scratch/*

# venvs
.venv/
venv/
env/
ENV/

# IDE settings
.vscode
.idea

# system files
.DS_Store

# Build Detritus
bin/
build/
dist/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg
